#footer{
    background-color: black;
    color: white;
    height: 200px;
    width: 100%;
    margin-top: 50px;
    display: flex;
    justify-content: space-around;
}
.footerlogo{
    width: 150px;
    height: 150px;
}
#hiden{
    color: rgb(97, 96, 96);
}
#icon{
    display: inline-flex;
    font-size: 25px;
}